@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Space Grotesk", system-ui;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0px;
    background-color: #11121c;
    color: #bdbfd4;
}

.navbar {
    display: flex;
    padding: 16px 0px;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 4;
    background-color: #11121c;
}

.navbar-brand {
    padding: 6.5px 0px;
    margin-right: 1rem;
}

.navbar-brand img {
    box-sizing: border-box;
    vertical-align: middle;
    max-width: 165px;
}

img, svg {
    vertical-align: middle;
}

.container {
    margin: auto 41px;
    padding: 0px 24px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1344px;
}

.navbar > .container {
    display: flex;
    flex-grow: 1;
}

.navbar-collapse {
    display: flex !important;
    flex-grow: 1;
    align-items: center;
    flex-basis: auto;
}

.navbar-toggler {
    display: none;
    padding: 5px;
    border: 0px;
    font-size: 1.125rem;
    line-height: 1;
    color:#bdbfd4;
    background-color: transparent;
    border-radius: 0.5rem;
    transition: box-shadow 0.15s ease-in-out;
}

.navbar-content-inner {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 2.5rem;
}

.navbar-nav-ul {
    display: flex;
    list-style: none;
    gap: 1.25rem;
    margin: 0px;
    padding: 0px;
}

.nav-link {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #bdbfd4;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.nav-link:hover{
    color:#c2d24b;
}

.nav-link.active {
    color: #c2d24b;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: all 0.2s ease-in-out;
}

.collapse:not(.show) {
    display: none;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    border-radius: 0.5rem;
    padding: 0.75rem 0.5rem;
    background-color: #0b0c1c;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    list-style-type: none;
    display: block;
}

.dropdown-toggle:hover::after {
    border-color: #c2d24b;
}

.dropdown-toggle::after {
    border-style: solid;
    border-width: 0.1em 0.1em 0 0;
    border-color: #bdbfd4;;
    content: "";
    display: inline-block;
    height: 0.45em;
    margin-left: 0.255em;
    transform: rotate(135deg);
    vertical-align: 0.15em;
    width: 0.45em;
    box-sizing: border-box;
}

.dropdown-item {
    text-decoration: none;
    color: #bdbfd4;
    padding: 0.25rem 1rem;
    display: block;
    position:relative;
}

.dropdown-item:hover, dropdown-item:focus {
    transform: translateX(5px);
    color: #c2d24b;
    background-color: transparent;
}

a {
    transition: all 0.15s ease-in-out;
}

.btn {
    border-radius: 0.5rem;
    font-weight: 500;
    border: 1px solid #c2d24b;
    background-color: transparent;
    text-decoration: none;
    color: #c2d24b;
    padding: 0.75rem 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    line-height: 1.5;
    display: inline-block;
}

.btn:hover {
    background-color: #c2d24b;
    color: #000000;
}

.flex-column {
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.d-flex {
    display: flex;
}

.strip-bg {
    background-color: #6B4DFF;
    width: 100%;
}

.strip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.strip-flex {
    display: inline-flex;
    align-items: center;
    padding: 8px 0;
}

.strip-right {
    margin-left: 14px;
}

.strip-heading {
    font-size: 22px;
    line-height: 20px;
    color: #E6F85E;
    margin-bottom: 0.5rem;
    font-weight: 600;
    margin-top: 0;
}

.strip-paragraph {
    margin: 0px;
    line-height: 20px;
    color: #ffffff;
}

.cta-button {
    border-radius: 200px;
    border: 1px solid #ffffff;
    padding: 8px 14px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}

.py-lg {
    padding: 3.75rem 0rem;
}

.overflow-hidden {
    overflow: hidden;
}

.hero-section .striped-shape {
    position: absolute;
    bottom: 10rem;
    left: 0;
    right: 0;
    opacity: 0.7;
    z-index: -2;
    height: auto;
}

.hero-section {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.hero-section .container {
    padding: 0rem 1.5rem;
    margin : 0px auto;
    max-width: 1344px;
    box-sizing: border-box;
}

.features-section .container {
    padding: 0rem 1.5rem;
    margin : 0px auto;
    max-width: 1344px;
    box-sizing: border-box;
    width: 100%;
}

.align-center {
    align-items: center;
}

.col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
    box-sizing: border-box;
}

.col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.row {
    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
}

.row > * {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 100%;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

.d-inline-block {
    display: inline-block;
}

.image-with-shape {
    position: relative;
}

.image-with-shape .shape {
    top: -6rem;
    left: -9rem;
    width: 1000px;
    position: absolute;
    z-index: -1;
    height: auto;
}

@keyframes scale {

    0%,
    100% {
      transform: scale(1);
    }
  
    25% {
      transform: scale(0.9);
    }
  
    50% {
      transform: scale(1.1);
    }
  
    75% {
      transform: scale(0.9);
    }
  }

.animate-scale {
    animation-name: scale;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.position-relative {
    position: relative;
}

.flex-grow-1 {
    flex-grow: 1;
}

.video {    
    border-radius: 1.5rem;
    max-width: 743px;
}

.z-1 {
    z-index: 1;
}

.text-primary-dark {
    color: #c2d24b;
}

.border {
    border: 1px solid #2e2f45 !important;
}

.px-4 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.rounded-3 {
    border-radius: 0.75rem;
}

.rounded-6 {
    border-radius: 1.5rem;
}

.text-white {
    color: #ffffff
}

.mb-8 {
    margin-bottom: 2rem;
}

h1, .h1 {
    font-size: 3rem;
    margin-top: 0px;
    line-height: 1.25;
}

.btn-gradient-1 {
    background: linear-gradient(92.73deg, #b324d7 7.07%, #fe577f 97.81%);
    border: 0;
    color: #ffffff;
}

.btn-lg {
    padding: 1rem 2rem;
    font-size: 1.125rem;
    border-radius: 0.75rem;
}

.btn-1:hover {
    color: #ffffff;
}

.btn-2 {
    background-color: #171825;
}

.btn-2:hover {
    color: #c2d24b;
    background-color: #171825;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-12 {
    margin-top: 3rem;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.border-primary-dark {
    border-color: #c2d24b !important;
}

.py-lg-15 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
}

.features-section .blurry-shape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    z-index: -1;
}

.mb-18 {
    margin-bottom: 4.5rem;
}

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

h2, .h2 {
    font-size: 2.5rem;
    margin-top: 0;
    line-height: 1.25;
}

.row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
    margin-top: 3.5rem;
    padding: 0rem 1.75rem;
    box-sizing: border-box;
}

.row-cols-lg-3 {
    margin-top: -3.5rem;
    margin-left: -1.75rem;
    margin-right: -1.75rem;
}

.text-gradient-2 {
    background: linear-gradient(90.22deg, #58ebff 0.19%, #C2D24B 101.84%);
    background-clip: text;
    color: transparent;
}

.typed-fade-out {
    opacity: 0;
    transition: opacity 0.25s;
}

.text-lg-start {
    text-align: left;
}

.flex-lg-row {
    flex-direction: row;
}

.gap-6 {
    gap: 1.5rem;
}

.bg-gradient-3 {
    background: linear-gradient(270deg, rgba(50, 51, 55, 0.4) 50%, rgba(70, 79, 111, 0.2) 100%);
}

.p-2 {
    padding: 0.5rem;
}

.justify-center {
    justify-content: center;
}

.h-14 {
    height: 3.5rem;
}

.w-14 {
    width: 3.5rem;
}

.border-white-10 {
    border-color: rgba(255, 255, 255, 0.1); 
}

.mt-0 {
    margin-top: 0;
}

h4, .h4 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.mb-4 {
    margin-bottom: 1rem;
}

h3, .h3 {
    font-size: 2rem;
    margin-top: 0;
    font-weight: 600;
    line-height: 1.25;
}

.icon {
    box-sizing: border-box;
}

.btn-primary {
    color: #000000;
    background-color: #c2d24b;
    border-color: #c2d24b;
}

.btn-primary:hover {
    color: #000000;
    background-color: #eaf976;
    border-color: #e9f96e;
}

.headroom--top {
    box-shadow: none;
}

.headroom {
    will-change: transform;
    transition: all 0.2s ease-in-out;
}

.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

[data-aos=fade-up-sm] {
    opacity: 0;
    transition-property: transform, opacity;
    transform: translate3d(0, 20px, 0) rotateY(10deg) !important;
}

[data-aos=fade-up-sm].aos-animate {
    opacity: 1;
    transform: translate3d(0, 0, 0) rotateY(0deg) !important;
}
